body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.logo img {
    margin: 20px 0;
    border-radius: 60%;
}

.features-list {
    text-align: left;
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.features-list li {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 5px;
}

.telegram-link {
    background-color: #0088cc;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: -5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.telegram-link:hover {
    background-color: #005fa3;
}
.change-button {
    background-color: #0088cc;
    border: 0;
    color: white;
    width: 125px;
    height: 39px;
    border-radius: 5px;
}
